.u-background-img {
    background-color: #4ABDAC;
    color: white;
    height: 70vh;
}
.c-nav {
    background-color: white !important;
    color: #4ABDAC;
}
.c-nav .c-nav__item:hover {
    background-color: #99CED4; !important;
}
.c-heading--xlarge {
    font-family: 'Poiret One';
    font-size: 6.5em;
}
.u-pink {
    color: #EEB6B7;
    font-family: 'Poiret One';
}
.u-pink:hover {
    color: white;
}
.c-cta {
    background-color: #EEB6B7;
    width: 200px;
    height: 50px;
    position: absolute;
    top: -15vh;
    color: white;
}
.c-cta h3 {
    margin: 10px;
}
.c-cta:hover {
    background-color: #99CED4;
}
@media (max-width: 200px) {
    .c-heading--xlarge {
        font-family: 'Poiret One';
        font-size: 2em;
    }
}

@media (min-width: 201px)and (max-width: 300px) {
    .c-heading--xlarge {
        font-family: 'Poiret One';
        font-size: 2.5em;
    }
}

@media (min-width: 301px)and (max-width: 370px) {
    .c-heading--xlarge {
        font-family: 'Poiret One';
        font-size: 3em;
    }
}
@media (min-width: 371px) and (max-width: 670px) {
    .c-heading--xlarge {
        font-family: 'Poiret One';
        font-size: 3.5em;
    }
}

.c-price-list table {
    margin: auto;
    padding-top: 15%;
    padding-bottom: 10%;
}

.c-price-list table th {
    font-family: 'Poiret One';
    font-size: 1.6em;
    padding: 6%;
}

.c-footer {
    width: 100%;
    height: 20em;
    background-color:#99CED4;

}

.c-footer h2 {
    font-family: 'Poiret One';
    font-size: 3em;
    margin: 3%;
}

.c-footer a {
    color: black;
}
.c-footer a:hover {
    color: #EEB6B7;
}
/*color scheme
https://designschool.canva.com/blog/website-color-schemes/*/
